{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/Image_Slider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/about_ifest.css' %}">


<!--<div>
            <div class="asteroid-ship">
                <div class="gradient"></div>
                <div class="bg"></div>
                <div class="logo"></div>
                <div class="space-ship-static"></div>
                <div class="space-ship"></div>
                <div class="tower"></div>
                <img src="{% static 'images/landing/rock2.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock3.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock1.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock4.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock5.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock6.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock7.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock8.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock9.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock10.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock11.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock12.png' %}" alt="" class="image">
                <div id="timer" class="timer-class">
                    <div id="days"><span class="days-value"></span><span class="timer-text1">Days</span></div>
                    <div id="hours"><span class="hours-value"></span><span class="timer-text2">Hours</span></div>
                    <div id="minutes"><span class="minutes-value"></span><span class="timer-text3">Minutes</span></div>
                    <div id="seconds"><span class="seconds-value"></span><span class="timer-text4">Seconds</span></div>
                </div>
            </div>
            <div class="gradient1"></div>
        </div>-->


<div>
            <div id="large-screen" class="asteroid-ship">
                <div class="gradient"></div>
                <div class="bg"></div>
                <div class="logo"></div>
                <div class="space-ship-static"></div>
                <div class="space-ship"></div>
                <div class="tower"></div>
                <img src="{% static 'images/landing/rock2.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock3.png' %}" alt="" class="image remove-this-rock">
                <img src="{% static 'images/landing/rock4.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock5.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock6.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock7.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock8.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock9.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock10.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock11.png' %}" alt="" class="image">
                <img src="{% static 'images/landing/rock12.png' %}" alt="" class="image">

                <a href="{% url 'signup' %}"><div class="registration-button">Register Now! [Rs.100]</div></a>

                <div id="timer" class="timer-class">
                    <div id="days">
                        <span class="days-javascript"></span>
                        <span class="timer-text1">Days</span>
                    </div>
                    <div id="hours">
                        <span class="hours-javascript"></span>
                        <span class="timer-text2">Hours</span>
                    </div>
                    <div id="minutes">
                        <span class="minutes-javascript"></span>
                        <span class="timer-text3">Minutes</span>
                    </div>
                    <div id="seconds">
                        <span class="seconds-javascript"></span>
                        <span class="timer-text4">Seconds</span>
                    </div>
                </div>
            </div>

            <div id="mobile-screen" class="mobile-screen">
                <div class="mobile-gradient"></div>
                <div class="mobile-logo"><img src="{% static 'images/landing/logo.png' %}" alt=""></div>

                <div id="mobile-timer" class="mobile-timer-class">
                    <div id="mobile-days">
                        <span class="mobile-days-javascript"></span>
                        <span class="mobile-timer-text1">Days</span>
                    </div>
                    <div id="mobile-hours">
                        <span class="mobile-hours-javascript"></span>
                        <span class="mobile-timer-text2">Hours</span>
                    </div>
                    <div id="mobile-minutes">
                        <span class="mobile-minutes-javascript"></span>
                        <span class="mobile-timer-text3">Minutes</span>
                    </div>
                    <div id="mobile-seconds">
                        <span class="mobile-seconds-javascript"></span>
                        <span class="mobile-timer-text4">Seconds</span>
                    </div>
                </div>
                <a href="{% url 'signup' %}"><div class="registration-button">Register Now! [Rs.100]</div></a>
            </div>
            <div class="gradient1"></div>
        </div>


<div class="swiper-container">
    <div class="swiper-wrapper">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I1.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I2.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I3.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I4.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I5.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I6.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I7.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I8.jpg' %}">
        <img class="swiper-slide" src="{% static 'images/homepage_images/I9.jpg' %}">
    </div>
</div>

<div class="landing-page-content">
                <!--<div class="first-block general-block">
                    <div class="first-heading general-heading">About i.Fest</div>
                    <p class="first-content general-content">i.Fest is
                        the largest technical
                        fest of Gujarat with its versatility
                        in technical, cultural, and social events, with its intellectual and
                        social-welfare oriented community and its extremely enthusiastic participants. With over 3500
                        participants attending the fest every year, i.Fest provides the student community with a
                        humongous
                        platform to interact with like-thinkers and inculcate innovative and competitive skills within
                        young
                        minds. Such festive technical events are held with an
                        aim to
                        grab the best out of a bundle of ideas constantly playing around within a group of people so
                        that
                        they are given a voice as well as an opportunity to ask for monetary as well as technical help from
                        a
                        capable institute or a company wherever needed.</p>
                </div>-->

                <div class="first-block general-block about-container">
                <div class="logo-container-laptop"><img src="{% static 'images/LogoHalfWhite.png' %}" alt=""></div>
                <div class="logo-text-container">
                    <div class="heading-about">
                        <div class="logo-container-mobile"><img src="{% static 'images/LogoHalfWhite.png' %}" alt=""></div>
                        <h1 class="general-heading">About i.Fest</h1>
                    </div>
                    <p>
                        i.Fest is the largest technical fest of Gujarat with its versatility in technical, cultural, and social events, with its intellectual and social-welfare oriented community and its extremely enthusiastic participants. With over 3500 participants attending the fest every year, i.Fest provides the student community with a humongous platform to interact with like-thinkers and inculcate innovative and competitive skills within young minds. Such festive technical events are held with an aim to grab the best out of a bundle of ideas constantly playing around within a group of people so that they are given a voice as well as an opportunity to ask for monetary as well as technical help from a capable institute or a company wherever needed.
                    </p>
                </div>
            </div>

                <div class="second-block general-block">
                    <div class="second-heading general-heading">A Cryptic Cosmos</div>
                    <p class="second-content general-content">
                        Mystery and universe are seemingly two inseparable words. We often synonymize the universe as an
                        unexplored space.

                        We, the homo sapiens, are currently in a space of disconnectedness and isolation and yet so
                        wholesome within ourselves, unfolding the mysteries of our being along with the universe.

                        The theme revolves around the idea of exploring our inner selves and unwrapping the parts of us which
                        we
                        could not ever since. During the pandemic, when most of us were locked indoors, we gained
                        an
                        incredibly cherishable opportunity to introspect ourselves, isolating our brains from the busy
                        routines of “life”.</p>


                    <p class="second-content general-content">
                        i.Fest ‘21 - Cryptic Cosmos, will stand in celebration of the secret treasures the pandemic
                        brought
                        us to, power to move forward with the acceptance of disheartening mishaps, the unfolding of
                        mysteries of our very own little universe and for the progress of humankind in helping us get
                        through it.</p>
                </div>
            </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
      var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
              rotate: 30,
              stretch: 0,
              depth: 200,
              modifier: 1,
              slideShadows : true
          },
          autoplay: {
              delay: 2000,
              disableOnInteraction: false
          },
      });
  </script>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/responsive.js' %}"></script>

{% endblock %}