{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i.Fest '22</title>
    <!-- <link rel="icon" href="{% static 'images/i.Fest_logo_new.png' %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Geo&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
<!--<link rel="stylesheet" href="{% static 'css/NAVBAR.css' %}"/>-->
    <script src="https://kit.fontawesome.com/d234b7fa74.js" crossorigin="anonymous"></script>
   <!-- <link rel="stylesheet" href="{% static 'css/background.css' %}"/> -->
    <!-- <link rel="stylesheet" href="{% static 'css/NavbarFinal.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/footer.css' %}"> -->
     <!-- {% load fpc_tags %}
    {% fpc %} -->
</head>

<body>


{% block content %}

{% endblock %}


{% block parallex %}
{% endblock %}

</body>
</html>