{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_form.css' %}">


<!--<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="POST">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password">
	
</form>-->

<body>
		<div class="login-container">
			<div class="main-container">
				<div class="box">

					<div class="content">
						<span class="span2"></span>
						<h2>Enter new password</h2>

						<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

						{% if messages %}
        					{% for message in messages %}
            					<h6 id="message">{{ message }}</h6>
        					{% endfor %}
    					{% endif %}

						<form method="POST">

							{% csrf_token %}
							{% for field in form %}
							{{field.errors}}
							<p>
							{{field.label}} {{ field }}
							</p>
							{% endfor %}

							<input type="Submit" name="Update Password">

						</form>
					</div>
				</div>
			</div>
		</div>
	</body>

{% endblock %}