{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">


<!--<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="POST">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">
	
</form>-->
<body>
		<div class="login-container">
			<div class="main-container">
				<div class="box">
					<span class="span1"></span>
<!-- <span class="span2"></span> -->
					<div class="content">

						<h2>Password reset</h2>

						<div class="input-field" id="mssg">
						<div >
						 <p>Enter your email address below, and we’ll email instructions for setting a new one.</p>

						<form method="POST">

							{% csrf_token %}
							{{form.as_p}}
							<div id="send_email">
							<input type="Submit" name="Send email">
							</div>

						</form>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>


<!--<script type="text/javascript">

			function toggle_visibility() {
				var e = document.getElementById('forgot');
				var a = document.getElementById("mssg");
				console.log(document.getElementById('forgot').style.display);
					document.getElementById('forgot').style.display = 'none';
				    document.getElementById('mssg').style.display = 'block';

			    }

	</script>-->

{% endblock %}