{% extends 'navbar.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/speakersNew.css' %}">


<div class="heading">
        <h1>SPEAKERS</h1>
    </div>
                <div class="speaker_card" id="one">
                <div class="info_section">
                    <div class="speaker_header">
                        <h1>Harshveer Jain</h1>
                        <h4>Co-founder of Mingout</h4>
                        <!--<span class="minutes">26th Nov</span>
                        <p class="type">8:30 PM onwards</p>-->
                    </div>
                    <div class="speaker_desc">
                        <p class="text">
                            Harshveer Jain is the co-founder of Mingout, a very popular online dating app, and is also the brain behind the Instagram account @storysellercomics, having more than 440k followers. He is an alumnus of IIT Bombay and IIM Calcutta. He is a master storyteller, who tries to initiate conversations about stereotypes and communicates by sketching comic strips about things that happen in our day-to-day lives.
                        </p>
                    </div>
                    <div class="speaker_social">
                        <ul>
                            <li><i class="material-icons"><a href="https://us02web.zoom.us/j/81847718856?pwd=bStTNm80RDcwRFF4OWV2b05uaUNrZz09" style="text-decoration: none;">Link</a></i></li>
                        </ul>
                    </div>
                </div>
                <div class="blur_back one_back"></div>
            </div>

            <div class="speaker_card" id="two">
                <div class="info_section">
                    <div class="speaker_header">
                        <h1>Dar Gai</h1>
                        <h4>Writer, Director</h4>
                        <!--<span class="minutes">26th Nov</span>
                        <p class="type">8:30 PM onwards</p>-->
                    </div>
                    <div class="speaker_desc">
                        <p class="text">
                            Dar Gai is the co-founder of Jugaad Motion Pictures, the director of Ritviz’s Liggi Prateek Kuhad’s cold/mess, creator of the Netflix’s Money Heist fan anthem. Apart from being named one of the Top 15 Female Filmmakers of the last decade, she also founded the art organization, “Molfa” and has organized two summer festivals and three art exhibitions in Ukraine.
Dar is an alumnus of the prestigious Berlintale Talents Program and has created award winning international commercial campaigns for brands like Levi's, Jio, Netflix, Bumble and music videos for Sony Music, Spinnin Records, JioSaavn.
                        </p>
                    </div>
                    <div class="speaker_social">
                        <ul>
                            <li><i class="material-icons"><a href="https://us02web.zoom.us/j/82674948616?pwd=VnJYbUlEVTRDUllkZXBXWFlwbFVLUT09" style="text-decoration: none;">Link</a></i></li>
                        </ul>
                    </div>
                </div>
                <div class="blur_back two_back"></div>
            </div>

                <div class="speaker_card" id="three">
                <div class="info_section">
                    <div class="speaker_header">
                        <h1>Nishchay Ag</h1>
                        <h4>Co-founder of the successful startup ‘Jar’</h4>
                        <!--<span class="minutes">26th Nov</span>
                        <p class="type">8:30 PM onwards</p>-->
                    </div>
                    <div class="speaker_desc">
                        <p class="text">
                            Nischay co-founded the Bengaluru-based startup Jar, a savings platform that lets users invest in gold. The tremendous success of Jar is evident clearly when it got a funding of $4.5 million from several angel investors including Kunal Shah (Cred, Founder) and Manik Gupta (Uber, CPO).
Having previously worked with Infosys, NTT Data America and Bounce, where he was the director for five years, Nischay has vast experience and knowledge in the field of entrepreneurship.
                        </p>
                    </div>
                    <div class="speaker_social">
                        <ul>
                            <li><i class="material-icons"><a href="https://us02web.zoom.us/j/85373580725?pwd=ZmY3Rlh4MVlDUXFZWCtDOHc5eU1PZz09" style="text-decoration: none;">Link</a></i></li>
                        </ul>
                    </div>
                </div>
                <div class="blur_back three_back"></div>
            </div>

            <div class="speaker_card" id="four">
                <div class="info_section">
                    <div class="speaker_header">
                        <h1>Anushree Goenka</h1>
                        <h4>Founder of Spark Studio</h4>
                        <!--<span class="minutes">26th Nov</span>
                        <p class="type">8:30 PM onwards</p>-->
                    </div>
                    <div class="speaker_desc">
                        <p class="text">
                            Anushree Goenka is the co-founder and CEO of Spark Studio. Working towards children's holistic development, by providing an amazing platform for quality extracurricular learning programmes for students aged 6 to 15, Sparks Studio had recently secured a funding of $125,000 from YCombinator, a silicon-valley based company which provides seed funding to many emerging successful startups globally. Anushree, a DA Alum went on to pursue her MBA at IIM Ahmedabad has six years of experience in the startup world along with being an outstanding consultant. </p>
                    </div>
                    <div class="speaker_social">
                        <ul>
                            <li><i class="material-icons"><a href="https://us02web.zoom.us/j/87266362797?pwd=c0puWDB6VmhJM2J3aC96WGc4M0ptQT09" style="text-decoration: none;">Link</a></i></li>
                        </ul>
                    </div>
                </div>
                <div class="blur_back four_back"></div>
            </div>

            <div class="speaker_card" id="five">
                <div class="info_section">
                    <div class="speaker_header">
                        <h1>Akshat Saxena</h1>
                        <h4>Co-founder of ePayLater</h4>
                        <!--<span class="minutes">26th Nov</span>
                        <p class="type">8:30 PM onwards</p>-->
                    </div>
                    <div class="speaker_desc">
                        <p class="text">
                            Akshat Saxena, co-founder at ePayLater, one of India’s largest platforms in the Small Medium Enterprise (SME) credit space. It was awarded as "Most Innovative FinTech" by Govt of India in 2019 and has become one of India’s largest platforms in the Small Medium Enterprise (SME) credit space. It was awarded as "Most Innovative FinTech" by Govt of India in 2019. A DA Alum, he is also a visiting faculty member at IIM Sambhalpur and is frequently invited to give leadership speeches at other top universities.
                        </p>
                    </div>
                    <div class="speaker_social">
                        <ul>
                            <li><i class="material-icons"><a href="https://us02web.zoom.us/j/87266362797?pwd=c0puWDB6VmhJM2J3aC96WGc4M0ptQT09" style="text-decoration: none;">Link</a></i></li>
                        </ul>
                    </div>
                </div>
                <div class="blur_back five_back"></div>
            </div>

            <div class="speaker_card" id="six">
                <div class="info_section">
                    <div class="speaker_header">
                        <h1>Mohit Choudhary</h1>
                        <h4>Zonal Head at OfBusiness</h4>
                        <!--<span class="minutes">26th Nov</span>
                        <p class="type">8:30 PM onwards</p>-->
                    </div>
                    <div class="speaker_desc">
                        <p class="text">
                            Mohit Choudhary is the Zonal Head & CMO at OfBusiness, a company that helps in lending secured and unsecured loans and raw material procurement for small and medium enterprises, along with providing them a comprehensive support system in both offline and online mediums. After graduating from DA-IICT, Mohit went on to pursue his MBA from FMS, Delhi, where he spearheaded numerous leadership summits. Along with this, during his time at OfBusiness, the company grew from a $50 million to a $3 billion enterprise.
                        </p>
                    </div>
                    <div class="speaker_social">
                        <ul>
                            <li><i class="material-icons"><a href="https://us02web.zoom.us/j/87266362797?pwd=c0puWDB6VmhJM2J3aC96WGc4M0ptQT09" style="text-decoration: none;">Link</a></i></li>
                        </ul>
                    </div>
                </div>
                <div class="blur_back six_back"></div>
            </div>





{% endblock %}