{% extends 'navbar.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/sponsors.css' %}" />



<div class="container">
    <div class="outerbox">


        <div class="sponsorheading">
            <p>Title Sponsor of the Inaugural Night</p>
        </div>
        <div class="sponsorbox">
            <a href="https://www.gujarattourism.com" target="_blank">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/GT.png' %}" alt="">
                </div>
            </a>
            <a href="https://amritmahotsav.nic.in" target="_blank">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/Amrit.png' %}" alt="">
                </div>
            </a>
        </div>
    </div>

        <div class="outerbox">


            <div class="sponsorheading">
                <p>TECHNICAL SPONSOR</p>
            </div>
            <div class="sponsorbox">
                <a href="https://synoptek.com">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/synoptek logo.png' %}" alt="">
                </div>
            </a>
            </div>
        </div>

        <div class="smallbox">
        <div class="outerbox" id="smallouterbox">
            <div class="sponsorheading">
                <p>STUDY ABROAD PARTNER</p>
            </div>
            <div class="sponsorbox">
                <a href="https://yocket.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/YOCKET-LOGO.png' %}" alt="">

                </div>
            </a>
            </div>
        </div>
        <div class="outerbox" id="smallouterbox">
            <div class="sponsorheading">
                <p>EXCLUSIVE CODING PARTNER</p>
            </div>
            <div class="sponsorbox">
                <a href="https://www.codechef.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/CodeChef.png' %}" alt="">

                </div>
            </a>
            </div>
        </div>
        </div>

        <div class="smallbox">
        <div class="outerbox" id="smallouterbox">


            <div class="sponsorheading">
                <p>EDUCATION PARTNER</p>
            </div>
            <div class="sponsorbox">
                <a href="https://www.endeavorcareers.com">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/Endeavor.jpg' %}" alt="">
                </div>
            </a>
            </div>
        </div>

        <div class="outerbox" id="smallouterbox">


            <div class="sponsorheading">
                <p>EXCLUSIVE CUBING PARTNER</p>
            </div>
            <div class="sponsorbox">
                <a href="https://www.cubelelo.com">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/CubeleloLogo.png' %}" alt="">
                </div>
            </a>
            </div>
        </div>
        </div>

        <div class="outerbox">
            <div class="sponsorheading">
                <p>OFFICIAL MERCHANDISE PARTNER</p>
            </div>
            <div class="sponsorbox">
                <!--<a href="https://synoptek.com">-->
                <div class="sponsor">
                    <img src="{% static 'images/Logo/A47.jpg' %}" alt="">
                </div>
            <!--</a>-->
            </div>
        </div>

        <div class="outerbox">
            <div class="sponsorheading">
                <p>GENERAL SPONSORS</p>
            </div>
            <div class="sponsorbox">
                <a href="http://ieee.daiict.ac.in/ieee2018/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/IEEE SB DAIICT Blue.png' %}" alt="">

                </div>
            </a>
                <a href="https://ieeegujaratsection.org/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/IEEE-GujaratSection.png' %}" alt="">

                </div>
            </a>

                <a href="https://www.ieee.org/education/eab.html">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/ieee edu act..png' %}" alt="">

                </div>
            </a>
                <a href="https://ieee-sensors.org/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/IEEE-Sensors-Council-Logo-blue.png' %}" alt="">

                </div>
            </a>
                <a href="https://site.ieee.org/sb-daiict-wie/">
                <div class="sponsor">
                    <img   src="{% static 'images/Logo/iee-wie2.png' %}" alt="">

                </div>
            </a>
                <a href="https://gujcost.gujarat.gov.in/#">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/GUJCOST.png' %}" alt="">

                </div>
            </a>
                <a href="https://dst.gov.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/DST logo-large-without background.png' %}" alt="">

                </div>
            </a>
                <a href="http://www.blackposition.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/black_position.jpeg' %}" alt="">

                </div>
            </a>
            <a href="https://certifidoc.com">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/certifidoc_logo.png' %}" alt="">

                </div>
            </a>
            <a href="https://ias.ieee.org/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/ias-logo-shadowbg.png' %}" alt="">
                </div>
            </a>
            <a href="https://www.ieee-pels.org/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/pels-logo.png' %}" alt="">
                </div>
            </a>
            <a href="http://www.ieee-ies.org/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/ies-header.png' %}" alt="">
                </div>
            </a>
            </div>
        </div>
        <div class="outerbox">
            <div class="sponsorheading">
                <p>PAST SPONSORS</p>
            </div>
            <div class="sponsorbox">
                <a href="http://ieee.daiict.ac.in/ieee2018/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/IEEESBDAIICT.png' %}" alt="">

                </div>
            </a>
            <a href="https://ieeegujaratsection.org/">
                <div class="sponsor">
                   <img src="{% static 'images/Logo/IEEE-GujaratSection.png' %}" alt="">

                </div>
            </a>
            <a href="https://gujcost.gujarat.gov.in/#I">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/GUJCOST.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.geeksforgeeks.org/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/GFG.png' %}" alt="">

                </div>
            </a>
            <a href="https://devfolio.co/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/devfolio.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.delhivery.com/">
                <div class="sponsor">
                    <img id = "notperfectimage"src="{% static 'images/Logo/delhivery.jpg' %}" alt="">

                </div>
            </a>
            <a href="http://ceid.daiict.ac.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/DCEI.jpg' %}" alt="">

                </div>
            </a>
            <a href="https://dst.gov.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/DST logo-large-without background.png' %}" alt="">

                </div>
            </a>
            <a href="https://gil.gujarat.gov.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/GIL Logo.png' %}" alt="">

                </div>
            </a>
            <a href="http://www.blackposition.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/black_position.jpeg' %}" alt="">

                </div>
            </a>
            <a href="https://www.echoar.xyz/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/echoAR.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.endeavorcareers.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/Endeavor.jpg' %}" alt="">

                </div>
            </a>
            <a href="https://www.juniper.net/us/en.html">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/JUNIPER networks.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.inoxmovies.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/INOX.jpg' %}" alt="">

                </div>
            </a>
            <a href="http://beannco.com">
                <div class="sponsor">
                    <img id="notperfectimage" src="{% static 'images/Logo/beansCo.jpg' %}" alt="">

                </div>
            </a>
            <a href="https://www.codechef.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/CodeChef.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.redbull.com/in-en/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/Red BUll.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.hackerrank.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/Hacker Rank.png' %}" alt="">

                </div>
            </a>
            <a href="https://in.msi.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/MSI.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.ongcindia.com/">
                <div class="sponsor">
                    <img id="notperfectimage" src="{% static 'images/Logo/ONGC.jpeg' %}" alt="">

                </div>
            </a>
            <a href="https://www.onlinesbi.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/SBI.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.perplexart.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/perplex art logo rectangular.png' %}" alt="">

                </div>
            </a>
            <a href="https://finstreet.in/courses">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/Finstreet.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.divyabhaskar.co.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/Divya Bhaskar.png' %}" alt="">

                </div>
            </a>
            <a href="http://www.ssipgujarat.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/SSIP.png' %}" alt="">

                </div>
            </a>
            <a href="https://mybyk.in/">
                <div class="sponsor">
                    <img id="notperfectimage" src="{% static 'images/Logo/MYBYK.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.jugnoo.in/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/jugnoo.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.gnfc.in/">
                <div class="sponsor">
                    <img id="notperfectimage" src="{% static 'images/Logo/GNFC.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.airmeet.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/airmeet.jpeg' %}" alt="">

                </div>
            </a>
            <a href="https://www.careerlauncher.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/careerLauncher.png' %}" alt="">

                </div>
            </a>
            <a href="https://www.cubelelo.com/">
                <div class="sponsor">
                    <img src="{% static 'images/Logo/CubeleloLogo.png' %}" alt="">

                </div>
            </a>

            </div>
        </div>
    </div>



{% endblock %}