* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*background-color: black;*/
  color: whitesmoke;
}
.container {
  /* border: 2px solid red; */
  /* width: 100vw;
    height: 100vh; */
  padding: 2%;
}
.outerbox {
  box-shadow: 0px 0px 25px 2px #cdedfa;
  border-radius: 10px;
  margin: 5%;
  margin-bottom: 10%;
  padding: 2%;
}
.sponsorbox {
  /* width: 90vw; */
  margin: 2%;
  padding: 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.sponsorheading {
  text-align: center;
  font-size: 3rem;
  margin: 5px;
  padding: 5px;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px rgb(97, 94, 94),
    0 0 40px rgb(47, 0, 255), 0 0 80px rgb(47, 0, 255), 0 0 90px rgb(47, 0, 255),
    0 0 100px rgb(47, 0, 255), 0 0 150px rgb(47, 0, 255);
}
.sponsorheading p {
  color: -webkit-linear-gradient(#eee, #333);
}
.sponsor {
  height: 10em;
  width: 15em;
  margin: 25px;
  padding: 10px;
  /*  */
  /* border:1px solid red;
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px red,
    0 0 20px red; */
  border: 2px solid whitesmoke;
  border-radius: 5px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sponsor:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 30px 1px whitesmoke;
}
.sponsor img {
  /* background-color: whitesmoke; */

  max-width: 100%;
  height: auto;
  /* align-self: center; */
  background-color: whitesmoke;
}
#notperfectimage {
  height: 150px;
  width: 150px;
}

@media only screen and (min-width: 950px) {
  .smallbox {
    display: flex;
    /* flex-wrap: wrap; */

    flex-direction: row;
  }
  #smallouterbox {
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
